<div class="container">    
    <div class="card text-center">
        <div class="card-header">
           <B>LOGIN</B> <i  style="font-size: 1rem;margin-left: 10px;"></i>                  
        </div>
         
        <div class="card-body" style="margin: 20px;">
            <form [formGroup]="form">
                <span class="p-float-label" style="margin: 20px;">
                    <input 
                        id="float-input" 
                        type="text" 
                        formControlName="email"
                        > 
                    <label for="float-input">Correo</label>
                </span>                       

                
                <span class="p-float-label" style="margin: 20px;margin-top: 30px;">
                    
                    <input 
                        id="float-input" 
                        type="password" 
                        formControlName="password"
                         > 
                    <label for="float-input">Contraseña</label>
                </span>
    
                           
                <button type="submit" label="Iniciar" class="btn btn-primary" style="margin-bottom: 10px;" (click)="login()">Entrar</button>    
                <div>
                    <button type="button"  label="Google"  style="margin-bottom: 10px;">Google</button>
                </div>                    
                
                <br>
                      
                 
                <br>              
                <p>¿Aún no tienes cuenta? <a href="/register" >Registrate</a></p>   
                <p> <a  >Recuperar contraseña</a></p> 
               
               
     
            </form>           
           
        </div>
        
        <div>
            
        </div>        
    </div>    
    

</div>

<p>{{roleActualUser}}</p>

<button (click)="enviar()">Probar enviar</button>
