<nav class="navbar navbar-expand-lg navbar-dark mb-4 purple">
  <div class="container">

    <a class="navbar-brand" href="#">
      <img
        src="https://laika.com.co/assets/home/LaikaMascotas.svg"
        width="40"
        height="40"
        class="mr-1"
      />
      <b> Mascotas </b>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Productos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/product/create">Crear Producto</a>
            <a class="dropdown-item" routerLink="/product/list">Listar Productos</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Compras
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/buy">Comprar</a>
            <a class="dropdown-item" routerLink="/buy/list"
              >Historial de compras</a
            >
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
