<div class="container">
  <div class="card text-center">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Inventario</th>
          <th scope="col">Imagen</th>
          <th scope="col">Min / Max</th>
          <th scope="col"> </th>
        </tr>
      </thead>
      <tbody *ngFor="let product of products">
        <tr>
          <td>{{ product.name }}</td>
          <td>{{ product.inventory }}</td>
          <td style="width: 100px">
            <img
              [src]="product.imageUrl"
              class="img-fluid"
              alt="..."
            />
          </td>
          <td>{{ product.min }} / {{ product.max }}</td>
          <td>
            <button (click)="delete(product.id!)" class="btn btn-danger">Eliminar</button>
            <!-- <br>
            <button>Editar</button> -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
